[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    venv,
    mlruns,
    data,
    airflow,
    django_app,
    streamlit_app,
    flask_app,
    fastapi_app/tests,
    notebooks,
    *.ipynb

ignore =
    E401,
    E402,
    W291,
    W292
